
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.news{
    border: 2px solid black;
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 300px;
}
.news img{
    width: 200px;
    height: 100px;
    object-fit: scale-down;
    border: 2px solid black;
}